<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ParkEase</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1 class="logo"> 🚗 <span class="brand">PARKEASE</span></h1>
<header class="header">
  <div class="container">
    
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/faqs">FAQS</a>
      <div class="dropdown">
        <button class="dropbtn">Profile ⮟</button>
        <div class="dropdown-content">
          <a href="#" onclick="logout()">Logout</a>
          <a href="#">Edit Profile</a>
          <a href="#">Booking History</a>
        </div>
      </div>
    </nav>
  </div>
</header>


<script>
  function logout() {
    fetch('/auth/logout', { method: 'POST' })
      .then(() => window.location.href = '/login');
  }
</script>






